/* You can add global styles to this file, and also import other style files */
.container {
   box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
   min-height: 250px;
   padding: 40px;
   margin: 0;
   margin: auto;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}

.container:hover {
   box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.3);
}